.snn-facebook {
    
    text-align: center;
    margin: 5rem auto 3rem;
}

.snn-item-option {
    text-align: center;
    margin: 0 auto 3rem;
}

.snn-login-input {
    background:#F3F3F3;
    border:1px solid #E2E2E2;
    padding:1.3rem;
    text-align: center;
    font-size:1.1em;
    margin-bottom:8px;
    border-radius:6px;
    color:#444;
}

.snn-login-entrar-button {
    background:#2EC4B6;
    padding:2.5rem;
    color:#fff;
    text-transform:uppercase;
    font-size:1.2em;
    border-radius:8px;
    width:100%;
}

.snn-validator {
    margin-bottom: 20px;
}


.snn-login-cadastro {
    text-align:center;
    font-size:1.4em;
    margin-top:5rem;
    z-index:1;
    position:relative;
}