<ion-header>
    <ion-navbar>
        <ion-title left>

        </ion-title>
        <ion-buttons right>
            <button ion-button icon-only (click)="presentActionSheet()">
                <ion-icon name="power"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <ion-list>
        <ion-item-divider sticky>
            <ion-grid>
                <ion-row>
                    <ion-col col-2>
                        <ion-avatar item-left>
                            <ion-icon *ngIf="!jwt?.userPicture" name="contact" profile-avatar color="light" class="avatar"></ion-icon>
                            <img *ngIf="jwt?.userPicture" [src]="jwt?.userPicture">
                        </ion-avatar>
                    </ion-col>
                    <ion-col col-10>
                        <ion-row>
                            <ion-col>
                                <strong class="profile-name" ion-text text-wrap color="dark">{{jwt?.unique_name}}</strong>
                                <br>
                                <small>{{jwt?.email}}</small>
                            </ion-col>
                        </ion-row>

                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item-divider>
    </ion-list>
</ion-content>