<ion-header id="app-header">
  <ion-navbar>
    <ion-grid class="BBbyC-header">
      <ion-row>
        <ion-col col-12>
          <div class="BBbyC-home-logo">
            <img responsive alt="logo" height="20" src="assets/imgs/logo.png">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="opcao">
      <ion-segment-button value="competencias">
        Competências
      </ion-segment-button>
      <ion-segment-button value="abordagens">
        Abordagens
      </ion-segment-button>
      <ion-segment-button value="projetos">
        Projetos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>
<ion-content id="proximos-eventos-content">

  <div [ngSwitch]="opcao">
    <ion-list *ngSwitchCase="'competencias'">
      <span *ngIf="!contemProjetos()" class="text-info" ion-text color="primary">As competências
        cadastradas serão exibidos aqui.</span>
      <display-spinner [display]="carregandoCompetencias"></display-spinner>
      <ion-item *ngFor="let item of competencias">
        <ion-icon name="infinite" item-left> </ion-icon>
        <h2>{{item.Sigla}} - {{item.Descricao}}</h2>
      </ion-item>
      <ion-fab right bottom>
        <button (click)="adicionarCompetencia()" ion-fab color="primary">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </ion-list>

    <ion-list *ngSwitchCase="'abordagens'">
      <span *ngIf="!contemProjetos()" class="text-info" ion-text color="primary">As metodologias
        cadastradas serão exibidos aqui.</span>
      <display-spinner [display]="carregandoMetodologias"></display-spinner>
      <ion-item *ngFor="let item of metodologias">
        <ion-icon name="infinite" item-left> </ion-icon>
        <h2>{{item.Descricao}}</h2>
      </ion-item>
      <ion-fab right bottom>
        <button (click)="adicionarMetodologia()" ion-fab color="primary">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-fab>
    </ion-list>

    <ion-list *ngSwitchCase="'projetos'">
      <span *ngIf="!contemProjetos()" class="text-info" ion-text color="primary">Os projetos
        cadastrados serão exibidos aqui.</span>
      <display-spinner [display]="carregandoProjetos"></display-spinner>
        <ion-item *ngFor="let item of projetos">
          <ion-icon name="folder" item-left></ion-icon>
          <h2>{{item.Nome}}</h2>
        </ion-item>

        <ion-item>
          <button (click)="detalheProjeto()" full ion-button round color="primary">Novo Projeto</button>
        </ion-item>
        <ion-fab right bottom>
          <button (click)="adicionarProjeto()" ion-fab color="primary">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-fab>
    </ion-list>
  </div>
</ion-content>