<ion-header id="app-header">
  <ion-navbar>
    <ion-grid class="BBbyC-header">
      <ion-row>
        <ion-col col-12>
          <div class="BBbyC-home-logo">
            <img responsive alt="logo" height="20" src="assets/imgs/logo.png">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>
<ion-content padding-button>

  <ion-item>
    <ion-label>Abordagem</ion-label>
    <ion-select [(ngModel)]="gender" interface="action-sheet">
      <ion-option [value]="metodo.Id" *ngFor="let metodo of metodologias">{{metodo.Descricao}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-card *ngFor="let item of competencias">
    <ion-card-header>
      <h2 ion-text text-wrap color="primary">{{item.Nome}}</h2>
    </ion-card-header>
    <ion-card-content>
      <p ion-text text-wrap>{{item.Descricao}}</p>
      <ion-item>
        <ion-label>Avaliação</ion-label>
        <ion-select [(ngModel)]="gender" interface="action-sheet">
          <ion-option [value]="variavel.Id" *ngFor="let variavel of variaveis"> {{variavel.Nome}}</ion-option>
        </ion-select>
      </ion-item>

    </ion-card-content>
  </ion-card>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="registrar()">
      <ion-icon name="checkmark"></ion-icon>
    </button>
  </ion-fab>
</ion-content>