<ion-item-group class="evento-item-group">
    <div *ngFor="let data of obterDatas(eventos)">
        <ion-item-divider sticky color="light">
            {{data}}
        </ion-item-divider>

        <ion-card full-width *ngFor="let item of obterEventosPorData(data, eventos)">
            <ion-card-content class="card-content-eventos" (click)="onDetalhe(item)">
                <ion-row>
                    <ion-col col-10>
                        <ion-card-title>
                            <h2 ion-text color="title-text"> {{ item.Nome }}</h2>
                        </ion-card-title>
                        <p ion-text>
                            <ion-icon name="pricetag">&nbsp;</ion-icon>{{ item.HostName}}
                        </p>
                    </ion-col>
                    <ion-col col-2 class="item-points">
                        <span font-size-large text-center ion-text color="dark">
                            <ion-icon color="yellow" name="star">&nbsp;</ion-icon>
                            <span class="list-points">5</span>
                        </span>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-note>
                            <ion-icon name="pin">&nbsp;</ion-icon>
                            {{ item.NomeEndereco}}
                        </ion-note>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-note>
                            <ion-icon name="time">&nbsp;</ion-icon>
                            {{obterHorarioEvento(item)}}
                        </ion-note>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>

    </div>
</ion-item-group>
<ion-infinite-scroll (ionInfinite)="scrollEventos($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>