<ion-header id="app-header">
  <ion-navbar>
    <ion-grid class="BBbyC-header">
      <ion-row>
        <ion-col col-4 no-padding></ion-col>
        <ion-col col-4 no-padding>
          <ion-item class="BBbyC-home-logo">
            <img responsive alt="logo" height="20" src="assets/imgs/logo.png">
          </ion-item>
        </ion-col>
        <ion-col col-4 no-padding>
          <ion-item class="BBbyC-profile" (click)="perfilModal()">
            <ion-avatar item-end>
              <ion-icon *ngIf="!jwt?.userPicture" name="contact" color="light" header-avatar class="avatar"></ion-icon>
              <img *ngIf="jwt?.userPicture" [src]="jwt?.userPicture">
            </ion-avatar>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>
<ion-content bottom-space>
  <display-spinner [display]="carregandoCompetencias && carregandoAgentes && carregandoPontuacao"></display-spinner>
  <ion-list>
    <ion-item>
      <ion-grid>
        <ion-row *ngFor="let agente of agentes" (click)="alocar(agente)">
          <ion-col col-2>
            <ion-avatar item-left>
              <ion-icon *ngIf="!agente.PathImagem" name="contact" color="light" header-avatar class="avatar"></ion-icon>
              <img *ngIf="agente.PathImagem" [src]="agente.PathImagem">
            </ion-avatar>
          </ion-col>
          <ion-col col-8>
            <ion-row>
              <ion-col text-wrap>{{agente.Nome}}<br><small>{{agente.Cargo}}</small></ion-col>
            </ion-row>
          </ion-col>
          <ion-col col-2>
            <ion-icon float-right name="arrow-forward" color="light"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>
  </ion-list>
</ion-content>